{% extends 'base_generic.html' %}

{% block content %}
    <h1>{{ title }}</h1>
{#    <ul>#}
{#        {% for p in users %}#}
{#            <li>#}
{#                <h2>{{ p.name }} {{ p.surname }}</h2>#}
{#                <p class="link-read-profile"><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>#}
{#                {% if p.photo %}#}
{#                    <p><img src="{{ p.photo.url }}" width="15%" height="15%"></p>#}
{#                {% endif %}#}
{#            </li>#}
{#        {% endfor %}#}
{#    </ul>#}
{%  endblock %}