{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<!-- Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

<div class="container mt-3">
  <!-- Chat log -->
              <div class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height:400px !important;">
                <div class="media media-chat">
                  <img class="avatar" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
                  <div class="media-body" id="div_for_message">
                    <p class="meta"><time datetime="2018">23:58</time></p>
                  </div>
                </div>
  <!-- Chat message input -->
  <div class="form-group mt-3">
    <label for="chat-message-input">Message</label>
    <input type="text" class="form-control" id="chat-message-input" size="100">
  </div>

  <!-- Chat message submit button -->
  <button type="button" class="btn btn-primary mt-3" id="chat-message-submit">Send</button>
</div>

<!-- Room name -->
{{ room_name|json_script:"room-name" }}
    {{ request.user.email|json_script:"user" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const user = JSON.parse(document.getElementById('user').textContent);
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/entered/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const para = document.createElement('p');
            const node = document.createTextNode(data.message);
            para.appendChild(node);
            const element = document.getElementById('div_for_message');
            element.appendChild(para);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'user': user,
                'room': roomName
            }));
            messageInputDom.value = '';
        };
    </script>
{% endblock %}
